<launch>
 
  <arg name="tf_prefix" default = "robot22_tf"/>
  
  <group ns="robot22">
    <param name="tf_prefix" value="$(arg tf_prefix)" />
    <param name="robot_state_publisher/tf_prefix" value="$(arg tf_prefix)"/> 
    <include file="$(find ur16e_moveit2)/launch/demo.launch">
      
    </include>
  </group>

</launch>
