<launch>
<!-- launch two hedgehog receive nodes -->
    <group ns="hedge1">
        <node name="hegde1" pkg="marvelmind_nav" type="hedge_rcv_bin" output="screen" args= "/dev/ttyACM0" />
    </group>

    <group ns="hedge2">
        <node name="hegde2" pkg="marvelmind_nav" type="hedge_rcv_bin" output="screen" args= "/dev/ttyACM1"/>
    </group>
</launch>
