<launch>
	<include file="$(find imu)/launch/rampe.launch"/>

	<include file="$(find mur_launch_sim)/launch/mur_620.launch"/>

	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find mur_examples)/rviz/single_mur620_visualization.rviz" /><!--2D Navigation-->
	
	<param name="robot_description" command="$(find xacro)/xacro '$(find mur_description)/urdf/mur_620.gazebo.xacro'" />
	
	<include file="$(find imu)/launch/twist_sim.launch"/>
</launch>

