<launch>
    <!-- Argumente definieren -->
    <arg name="map_file" default="$(find match_gazebo)/maps/maze.yaml"/>
    <!-- <arg name="map_file" default="$(find match_gazebo)/maps/advanced_maze.yaml"/> -->
    <!-- <arg name="map_file" default="$(find match_gazebo)/maps/scale.yaml"/> -->
    <!-- <arg name="map_file" default="$(find match_gazebo)/maps/match.yaml"/> -->
    <!-- <arg name="map_file" default="$(find match_gazebo)/maps/cafe.yaml"/> -->
    <!-- <arg name="map_file" default="$(find match_gazebo)/maps/big_square.yaml"/> -->

    <!-- <arg name="global_planner" default="RAstar_planner/RAstarPlannerROS"/>    -->
    <arg name="global_planner" default="navfn/NavfnROS "/>   
    <arg name="local_planner" default="DWAPlannerROS"/>
    <arg name="tf_prefix" default="" doc="Prefix used for robot tf frames" /> <!-- used in the config files -->
    <arg if="$(eval tf_prefix=='')" name="tf_prefix_slashed" value="" /> <!--Important for proper substitution (empty tf_prefix must not lead to leading slashes-->
    <arg unless="$(eval tf_prefix=='')" name="tf_prefix_slashed" value="$(arg tf_prefix)/" /> <!--Important for proper substitution (empty tf_prefix must not lead to leading slashes-->

    <!-- Die Karte laden -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen"/>
    <!-- main.cpp starten -->
    <node name="main" pkg="bezier_path" type="bezier" output="screen"/>
    <!-- RViz für die Visualisierung starten -->
    <node name="rviz" type="rviz" pkg="rviz" args="-d $(find bezier_path)/rviz/topdown.rviz" />
    <node name="set_pose" pkg="bezier_path" type="set_pose.py" output="screen" />
    <!-- VSCode aktives Fenster nach Start -->
    <node name="vscode_activ" pkg="bezier_path" type="activate_vscode.py" output="screen"/>

    <!-- mir_100_changed -> general_mir_changed -> amcl & move_base_changed -->
    <include file="$(find bezier_path)/launch/mir_100_changed.launch" pass_all_args="true"/>
    <include file="$(find bezier_path)/launch/world_maze_changed.launch"/>  
    <!-- <include file="$(find match_gazebo)/launch/world_match.launch"/>   -->
    <!-- <include file="$(find match_gazebo)/launch/big_square.launch"/>   -->
    <!-- <include file="$(find match_gazebo)/launch/world_advanced_maze.launch"/>   -->
    <!-- <include file="$(find match_gazebo)/launch/world_cafe.launch"/>   -->
</launch>