<?xml version="1.0"?>

<model>
    <name>unevenworld</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Oliver Maas</name>
        <email>o.maas@stud.uni-hannover.de</email>
    </author>

    <description>
        terrain
    </description>
</model>
